<?php

function get_oauth_settings() {
    return array(
        'oauth_access_token' => "xxxxxxxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxx",
        'oauth_access_token_secret' => "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        'consumer_key' => "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        'consumer_secret' => "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
    );
}

function get_db_username() {
    return "MY_USERNAME";
}

function get_db_host() {
    return "MY_HOST";
}

function get_db_password() {
    return "MY_PASSWORD";
}

?>